.venv/
__pycache__/
*.pyc
*.pyo
build/
dist/
.idea/
~$*
Thumbs.db
.DS_Store
data/
incentives/
Database_2026/images/
Database_2026/processed_stimuli_final/
Database_2026/final_standardized_stimuli*/
*.rar
Database_2026/OASIS.csv
Database_2026/OASIS_bygender.csv
Database_2026/OASIS_Inpress.pdf
zametka.md
*.spec
/script.py
/trajectories.py
/clear_name.py
Database_2026/brightness.py
